
html, body, div, ul {
	margin: 0;
	padding: 0;
}
 body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #fff;
	background-image: url(../img/examples/stucco.png);
	color: #191919;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.5;
}
@font-face {
   font-family: 'BoycottRegular';
   src: url('BOYCOTT_-webfont.eot');
   src: url('BOYCOTT_-webfont.eot?#iefix') format('embedded-opentype'),
        url('BOYCOTT_-webfont.ttf') format('truetype'),
        url('BOYCOTT_-webfont.svg#BoycottRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

h1.fontface {
   font: 60px/68px 'BoycottRegular', Arial, sans-serif;
   letter-spacing: 0;
}

h2.fontface {
   font: 48px/52px 'BoycottRegular', Arial, sans-serif;
   letter-spacing: 0;
}

p.style1 {
   font: 18px/27px 'BoycottRegular', Arial, sans-serif;
}

a, p a {
	text-decoration: none;
	color: #333;
}

a:hover { color: #191919; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
	position: relative;
}

h1 {
	font-size: 45px;
	line-height: 0.9;
	color: #191919;
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

h2 {
	font-size: 28px;
	line-height: 1.3;
	color: #191919;
	text-transform: none;
	font-style: bold;
	text-align: left;
	margin-top: 7px;
	padding-bottom: 6px;
}

h3 {
	font-size: 23px;
	line-height: 0.9;
	color: #191919;
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#challenge{
	margin-left: 0px;
}
	
#myCarousel {
      margin-top: 21px;
      padding-top: 31px;
      }

    #footer{
    	text-align: center;
    }
.founder{
	margin-left: 0px;
}

.sm {font-size:10px; color:#000; margin-bottom:2px}

 .mylogo{
 	margin-left: 200px;
}